h1{
font-family:helvetica;
font-size:500px;
color:pink;
text-align:center;
font-style:italic;
font-weight:700;
}*\this is adding background color to my website*/
body{
background-color:pink;
}
